.logo {
  height: 100px;
  width: 100%;
  background-color: white;
  color: #29b1dd;
  font-size: 50px;
}

.filter-box {
  height: 100px;
  width: 100%;
  background-color: #29b1dd;
  color: white;
  font-size: 20px;
}

main {
  height: 900px;
  width: auto;
  background-color: #dddddd;
}

#icons {
  font-size: 40px;
}

#icons > .icon-card {
  width: 200px;
  height: 150px;
  border: 1px black;
  background-color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
